h2 Créer un événement
form(method="post" action="/party")
  div
    label(for="name") Nom de l'événement
    input(name="name" id="name" required minlength="3" placeholder="Ex : Nouvel An...")
    label(for="name") Auteur
    input(name="name" id="name" required minlength="3" placeholder="Votre nom")
    label(for="date") Date
    input(name="date" id="date" type="date")
  button(type="submit") Créer