.urlForm {
  @include flexbox(row, space-between, unset, wrap); 
  border-top: 1px solid $border-color;
  padding-top: 1.25rem;

  @include medium {
    grid-column: 2;
    grid-row: 3;
    padding-top: 2rem;
    border: none;
    @include flexbox(row, space-between, unset, wrap);

    label, 
    input {
      width: 100%;
    }
  }

  input {
    padding: 1rem;
  }

  button {
    font-family: $primary-font;
    font-size: 1rem;
    color: $primary-color;
    text-transform: uppercase;
    text-decoration: underline;
    background-color: unset;
    border: unset;
    transition: letter-spacing .5s;

    &:hover {
      letter-spacing: 0.05rem;
    }
  }
}