.partyHeader {
  padding-bottom: 1.25rem;
  margin-bottom: 1.25rem;
  border-bottom: 1px solid $border-color;
  line-height: 1.5;

  @include medium {
    grid-column: 1 / 3;
    margin: unset;
  }

  h2, 
  h3 {
    color: $secondary-color;
  }

  h2 {
    font-size: 1.25rem;
    font-weight: bold;
  }

  h3 {
    font-size: .875rem;
  }
}