.party {
  padding: 0 2rem 2rem;

  @include medium {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% auto 30%;
    grid-gap: 0 2rem;
    height: 90vh;
  }
}

@import '../blocks/party_header.scss';
@import '../blocks/party_list.scss';
@import '../blocks/party_list_form.scss';
@import '../blocks/party_form.scss';
@import '../blocks/party_url_form.scss';